/* General */
body {
  text-transform: uppercase;
  font-family: Quicksand;
  margin: 0;
}
a {
  text-decoration: none;
}
/* Header */
#siteLogo{
  font-family: Oleo script;
  color: gold;
  font-size: 48px;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
header a {
  color: gold;
  margin: 0px 15px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 3px;
}
header ul a:hover{
  background-color: rgba(100, 100, 100, 0.7);
}
header a:hover{
  color: rgb(224, 228, 26);
}
nav ul {
  display: flex;
}
li {
  list-style-type: none;
}
/* Footer */
footer {
  background-color: #444;
  height: 80px;
}
footer ul {
  margin: 0;
  display: flex;
  justify-content: center;
}
footer img {
  height: 35px;
  margin: 20px 10px 0;
}